@charset "utf-8";

#greet{
    position: absolute;
    width:100%;
    height:100%;
    justify-content:center;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
#greet>img{
    width:200px;
    height:auto;
    border:1px solid #000;
    margin:50px 0px;
}
#greet p{
    line-height: 22px;
    text-align: center;
}

 



/* All Mobile Code */

@media all and (min-width:768px){

  






}
@media all and (min-width:1200px){




 




}

