@charset "utf-8";

#mainslider{
    position: relative;
    top:120px;
    width:90%;
    height:auto;
    margin:0 auto;
}
#mainslider img{
    width:100%;
    height:auto;
}
/* All Mobile Code */

@media all and (min-width:768px){

  
    #mainslider{
        width:70%;
    }





}
@media all and (min-width:1200px){



    #mainslider{
    top:160px;
    width:47%;
    margin:0 auto;

    }


}

.