@charset "utf-8";
html, body{
    width:100%;
    height:100%;
}

#wrapper{
    width:100%;/* 어떤모니터든지 100%화면을 볼 수 있다 */
    height:100%;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:88px;
    transition: all 0.5s;
    background: none;
    z-index:99;
}


#mobile_menu{
    width:100;
    height:88px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#mobile_menu>h1, #mobile_menu a{
    position: relative;
    display:block;
    width:120px;
    height:48px;
}

#mobile_menu>h1{
    left:20px;
}

#mobile_menu>div, #mobile_menu a{
    position: relative;
    display:block;
    width:28px;
    height:23px;

}

#mobile_menu>div{
    right:12px;
}

/* GNB MODE */

#Gnb{
    position: fixed;
    top:-355px;
    left:0;
    z-index:99;
    width:100%;
    height:355px;
    background: #fff;
    transition: all 0.5s;
}

#top_menu{
    width:100%;
}

#tm_in{
    width:100%;
    height:103px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#g_logo{
    position: relative;
    left:20px;
}

#utill>ul{
    display:flex;
}

#utill li{
    font-size:12px;
}

#utill a{
    display:block;
    height:21px;
    font-size:12px;
    line-height: 18px;
    color:#ff9900;
    padding:0 10px;
}



#Inner_menu{
    width:100%;
    height:252px;
}

.Pc_logo{display:none;}

#Inner_gnb{
    height:252px;
}

#Inner_gnb>ul>li>a{
    display:block;
    width:100%;
    text-align: center;
    color:#ff9900;
    font-size:16px;
    padding:22px 0 11px 0;
}

#Inner_gnb a:hover{
    color:#b49771;
}

#blackbg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    z-index:10;
    display:none;

}



#conts1{
    position: relative;
    width:100%;
    height:600px;
    
}

#conts1>ul{
    position:relative;
    top:35%;
    width:70%;
    margin:0 auto;
 }
 #conts1>ul>li>a>img{
     
     width:70%;
    height:auto;
     background:none;

 }
 




#conts5{
    position:fixed;
    bottom:0px;
    width:100%;
    height:90px;
    background: rgb(233, 233, 233);

}

#conts5>ul{
    position: relative;
    width:90%;
    height:90%;
}



#conts5>p{
    position: relative;
    width:100%;
    height:auto;
    top:20px;
    font-size: 14px;
    font-family:"나눔고딕";
    line-height: 22px;
    color:#333;
    text-align: center;
}



/* All Mobile Code */

@media all and (min-width:768px){

    #conts1{
       
    }
    #conts1>ul>li{
       
    }
    
    .box1>a{
    text-align:center;
    margin:0 auto;
}






}
@media all and (min-width:1200px){


header{
    height:190px;
    transition: all 0.5s;
    background: none;
}


#mobile_menu{
    display:none;
}

/* GNB MODE */

#Gnb{
    position: fixed;
    top:0 !important;
    left:0;
    z-index:99;
    width:100%;
    height:190px;
    background: none;
}



#tm_in{
    width: 1100px;
    height:30px;
    margin:0 auto;
}

.mb{
    width:28px;
    height:23px;
}

.mb>a{
    display:block;
    width:28px;
    height:23px;
}
.mb>a>img{
    display:block;
    width:28px;
    height:23px;
}

#utill{
    position: relative;
    width:300px;
    height:30px;
    margin-left:auto;
}


#utill>ul{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    height:23px;
    display:flex;
    align-items: center;
}

#utill li{
    font-size:12px;
    color:#fff;
}



#utill li:nth-child(5), #utill li:nth-child(5)>a, #utill li:nth-child(5)>a>img{
    display:block;
    width:20px;
    height:13px;
}

#utill li:nth-child(6){
    margin-left:5px;
    margin-right:10px;
}


#utill li:nth-child(6), #utill li:nth-child(6)>a, #utill li:nth-child(6)>a>img{
    display:block;
    width:20px;
    height:13px;
}


#utill li:nth-child(7), #utill li:nth-child(7)>a, #utill li:nth-child(7)>a>img{
    display:block;
    width:23px;
    height:23px;
}



#utill a{
    display:block;
    height:21px;
    font-size:12px;
    line-height: 18px;
    color:#fff;
    padding:0 10px;
}



.close{display:none;}

#Inner_menu{
    width:100%;
    height:252px;
}

.Pc_logo{display:block;}

#Inner_gnb{
   height:160px;
   display:flex;
   justify-content: center;
   align-items: center;

}

#Inner_gnb>h1{
    width:93px;
    height:125px;
    margin-right:400px;
}


#Inner_gnb ul{
    position: relative;
    width:580px;
    height:30px;
    top:20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
}

#Inner_gnb>ul>li>a{
    display:block;
    width:100%;
    text-align: center;
    color:#b49771;
    font-size:16px;
    padding:22px 0 11px 0;
}

#Inner_gnb a:hover{
    color:#ff9900;
}

#blackbg{
    display:none !important;

}

#g_logo{
    display:none;
}




#conts1{
    position: relative;
    width:100%;
    height:840px;
    background: url("../images/main.jpg") no-repeat 100% auto/ cover;

}

#conts1>ul{
    position:relative;
    width:50%;
    height:auto;
   
 }

 



#conts5>ul{
    width:1080px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

}

